{% extends 'projectManager/layout.html' %}
{% load static %}
{% block body %}

<!-- Messages -->
   {% if messages %}
        <div class="container mt-3">
        {% for message in messages %}
            <div class="alert 
                {% if message.tags == 'error' %}alert-danger
                {% else %}alert-{{ message.tags }}
                {% endif %}
                alert-dismissible fade show" role="alert">

                {{ message }}

                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        </div>
    {% endif %}
    

<main class="d-flex justify-content-center align-items-center vh-100">
    <div class="bg-light rounded w-50 p-4 p-4">
        <h3 class="mb-2 text-center">Register</h3>
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <fieldset class="mb-3">
                <label>Username:</label><br>
                {{ form.username }}
            </fieldset>
            <fieldset class="mb-3">
                <label>Password:</label><br>
                {{ form.password }}
            </fieldset>
            <fieldset class="mb-4">
                <label>Confirm Password:</label><br>
                {{ form.confirm_password }}
            </fieldset>
            <input type="submit" value="Register" class="btn btn-main w-100">
        </form>
        <p class="mt-4 text-center">Already a user! <a href="{% url 'login' %}">Login</a></p>
    </div>
</main>

{% endblock %}