body {
    background-color:#c4d4ea;
}

.bg-light {
    background-color: #f6f9fb !important;
    border: 1px solid #ccc;
}

.btn-main {
    background-color: #2d5a9a;
    color: white;
}
.btn-main:hover {
    background-color: #254b82;
    color: white;
}

.navbar-title {
    font-size: 2rem;
    font-weight: bolder;
}

.technology-text {
    background-color: #dde1e9;
    border: 1.3px solid #999;
    font-family: monospace;
    padding: 4px 5px;
    border-radius: 3px;
    margin: 5px;
}