body {
    background-color:#c4d4ea;
}

.bg-light {
    background-color: #f6f9fb !important;
    border: 1px solid #ccc;
}

.btn-main {
    background-color: #2d5a9a;
    color: white;
}
.btn-main:hover {
    background-color: #254b82;
    color: white;
}

.navbar-title {
    font-size: 2rem;
    font-weight: bolder;
}